<!DOCTYPE html>
<html ng-app="weather">
<head>
   <meta charset="utf-8" >
   <meta name="viewport" content="width=device-width, initial-scale=1.0/">
    <title>ANWeather</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>

    <!-- design from http://www.w3schools.com/w3css/tryw3css_templates_architect.htm  -->
</head>
<body>

<div class="topWrap">
        <div class="top">
         <div class="logo">
          <a href="#home"><b>AN</b> Weather </a>
         </div>
         <div class="menu">
             <a href="#"> Погода сейчас </a>
             <a href="#"> Прогноз </a>
         </div>
    </div>
</div>
<header class="header">
    <div class="headerNameWrap">
        <h1 class="headerName"><span>AN</span>Weather</h1>
    </div>
</header>

<section  ng-controller="weathersController as forecasts">

    <div class="currentContainer askBlock">
        <div class="form-group formBlock">
            <input  placeholder="Text input" required type="text" ng-model="searchSettings.query"/>
            <button class="button" ng-click="searchCity()">Search</button>
            <button class="button " ng-click="searchGeo()"> Geo</button>
        </div>
        <div class="cityChecked" ng-if="search.name.length > 2" >
            <p class="">Вы выбрали: {{search.name}} </p>
        </div>
    </div>

    <div class="buttons">
        <button class="button" ng-click="forecasts.selectTab(1)"> <h2 class="sectionName"> Сейчас </h2> </button>
        <button class="button" ng-click="forecasts.selectTab(2)"><h2 class="sectionName" > Прогноз </h2> </button>
    </div>

    <div class="currentSection" ng-if="forecasts.tab==1" >
     <div class="currentContainer">
         <div class="current weatherBlock" >
             <img class="DayIcon" src="img/calendar.svg"> <p class="forecastItem">  {{current.last_updated}}</p>
            <p class="forecastItem">Температура:  <span>{{current.temp_c}} С </span> </p>
            <p class="forecastItem">Ощущается как: <span>{{current.feelslike_c}} C </span> </p>
            <p class="forecastItem">Влажность: <span>{{current.humidity}} % </span>  </p>
            <p class="forecastItem">Wind: <span> {{weatherCurrent.wind_kph}} км/ч </span>  </p>
             <img  ng-show="current.humidity > 2 " width="50px" height="50px" src="img/thermometer.svg">
             <img  ng-show="current.humidity < 2 " width="50px" height="50px" src="img/temperature.svg">
            <!-- <img src="http:{{current.condition.icon}}">  -->
         </div>
     </div>
    </div>

<div class="Forecast Section" ng-if="forecasts.tab==2" >
    <div class="ForecastContainer">
        <weather-item ng-repeat="weather in forecast" > </weather-item>
    </div>
</div>
</section>

<section class="about">
 Задание Заславской Анастасии. Приложение на Ангуляре. 2016
</section>

</body>
</html>